@import "../../styles/app.scss";

.container__form {
  background: $cDarkGreen;

  .form__description {
    color: $cWhite;
    margin: 24px 0 0 0;
  }

  .form__block-inputs {
    display: flex;
    height: calc(100vh - 200px);
    justify-content: space-around;
    flex-direction: column;
    margin: 20px;
  }

  .form__input-actions {
    display: flex;
    justify-content: flex-end;

    .block-inputs__input::placeholder {
      color: $cWhite;
    }

    .actions__erase {
      margin-right: 24px;
    }
  }
  .block-inputs_progress {
    margin: 0 auto
  }
}

.content {
  .content__charts {
    margin-top: 15px;
  }
}

.container__chart {
  margin: 12px;
  min-height: 250px;
  min-width: 250px;
}
